<div class=" rounded h-28 mx-auto bg-slate-200 mb-5 items-center md:px-6 px-2  max-w-full w-[700px]  flex justify-between border-b-2"
    x-data="itemCartComponent({{item}})">

    @if(item.product!==null)
    <div class=" rounded-full h-20 w-20 overflow-hidden bg-white border-2 border-black ">
        <img :src="product.images?product.images[0]:'/public/assetes/images/shoes.jpg'"
            class=" object-fill w-full h-full" />
    </div>
    <a :href="'/products/'+product.slug" target="_blank" x-text="product.slug??'product name'"
        class="flex max-w-18 h-8 overflow-hidden"></a>

    <div class=" border-2 border-gray-200 flex md:w-28 w-20 h-10 items-center  justify-between">
        <button x-on:click="icreamentQuantity" class=" text-2xl ml-2">+</button>
        <p x-text="quantity" class=" text-2xl"></p>
        <button x-on:click="decreamentQuantity" class=" text-2xl mr-2">-</button>
    </div>

    <span x-text="product.price??'00'">

    </span>
    <span x-text="computeTotal" class=" md:flex hidden">

    </span>
    @else
    <div class=" rounded-full h-20 w-20 overflow-hidden bg-white border-2 border-black ">
        <img :src="variant.images?product.images[0]:'/public/assetes/images/shoes.jpg'"
            class=" object-fill w-full h-full" />
    </div>
    <span x-text="variant.slug??'variant name'" class="flex max-w-18 h-8 overflow-hidden"></span>

    <div class=" border-2 border-gray-200 flex md:w-28 w-20 h-10 items-center  justify-between">
        <button x-on:click="icreamentQuantity" class=" text-2xl ml-2">+</button>
        <p x-text="quantity" class=" text-2xl"></p>
        <button x-on:click="decreamentQuantity" class=" text-2xl mr-2">-</button>
    </div>

    <span x-text="variant.price??'00'">

    </span>
    <span x-text="computeTotal" class=" md:flex hidden">

    </span>
    @end


    <button @click="removeItem">
        <div class=" h-8 w-8">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                    <path d="M6 7V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V7" stroke="#000000"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#000000"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
            </svg>
        </div>

    </button>
</div>