<a href="/products/{{slug}}" class=" h-72 md:w-52 w-full flex flex-col">
    <img src="{{cardImage||" /public/assetes/images/holder.jpg"}}" alt="{{imageAlt||" product image"}}"
        class=" md:w-60 w-full h-72 object-cover" />
    <div class="card-data flex justify-between text-sm h-10 items-end">
        <span>
            {{description||" "}}
        </span>
        <p>
            <span>{{currency||'$'}}</span> {{price||' '}}
        </p>
    </div>
</a>