<div x-data="paymentComponent({{JSON.stringify(data)}})" class="h-full w-full bg-white">
    <!-- Loading state -->
    <div x-show="isLoading" class="flex items-center justify-center h-full">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-gray-900"></div>
    </div>

    <!-- Error state -->
    <div x-show="error && !isLoading" class="flex items-center justify-center h-full text-red-600">
        Error loading payment: <span x-text="error"></span>
    </div>

    <!-- Kashier iframe (only show when hash is available) -->

    <div x-show="hash && !isLoading" id="kashier-checkout-container"></div>

</div>