@layout('components/layout/app')

@set('title', 'Not-found')

@section('content')
<div class=" flex flex-1 justify-center items-center h-[300px] ">
    <p class=" text-red-600 text-3xl">{{error}}</p>
</div>
@end