@layout('components/layout/app')

@set('title', 'Styllish')

@section('content')
  <h1 class="font-extrabold">Welcome to Styllish!</h1>
  <div class=" h-[700px] bg-red-500">
    @component('components/card', { 
     
      title:'styllish shoes for women ',
      action:{
        link:'/',
        word:'shop now'
      }
     })
      
    @end
  </div>
@endsection

