@layout('components/layout/app')

@set('title', 'Styllish')


@section('content')
<div class=" h-[600px]">
  @component('components/splide', {
  collections:data.collections
  })

  @end
</div>

@component('components/discountBanner', { })

@end

@component('components/featured', {
title:'Featured Products',
link:'/featured-products',
featuredProducts:data.featured
})

@end
<div class=" h-7"></div>

<div class=" flex md:flex-row flex-col gap-7 my-20 h-[500px]">

  @component('components/card', {
  title:data.firstCategory.slug||data.firstCategory.name,
  cardImage:data.firstCategory.image||'/public/assetes/images/shoes.jpg',
  action:{
  link:'/category/'+data.firstCategory.slug,
  word:'shop now'
  }
  })
  @end
  @component('components/card', {
  title:data.secondCategory.slug||data.secondCategory.name,
  cardImage:data.secondCategory.image||'/public/assetes/images/shoes2.jpg',
  action:{
  link:'/category/'+data.secondCategory.slug,
  word:'shop now'
  }
  })
  @end
</div>



@component('components/featured', {
title:'Latest Products',
link:'/latest-products',
featuredProducts:data.latest
})

@end

<div class=" h-7"></div>
@endsection