@layout('components/layout/app')

@set('title', 'Styllish')

@section('content')
<div x-init=" 
$nextTick(()=>window.openAuthModal())
" class=" h-screen">
    @!component('components/authModal', { })
</div>
@end