@layout('components/layout/app')

@set('title', 'Styllish')


@section('content')

@if(!product)
@component('components/notfound', { })

@end
@else
<div>

    @component('components/productGrid', {
    product:product
    })

    @end
</div>
@end

@end