<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  
  <link rel="stylesheet" href="/public/styles/app.css">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

  <link rel="stylesheet" href="/public/assets/css/app.css" />
  <script type="module" src="/public/assets/alpine/app.js"></script>


  @!component('components/seoMeta', {
  title: title,
  description: seotags?.description??'This is a detailed description of my awesome page for SEO purposes',
  keywords:seotags?.keywords?? 'adonisjs, edge, seo, meta tags',
  canonical:seotags?.canonical?? 'https://example.com/my-awesome-page',
  ogTitle:seotags?.ogTitle?? 'My Awesome Page - Share This!',
  ogDescription:seotags?.ogDescription?? 'Check out this awesome content you might like!',
  ogImage:seotags?.ogImage?? 'https://example.com/images/share-image.jpg',
  ogUrl:seotags?.ogUrl?? 'https://example.com/my-awesome-page',
  twitterSite:seotags?.twitterSite?? '@mywebsite',
  twitterCreator:seotags?.twitterCreator?? '@myusername',
  robots:seotags?.robots?? 'index, follow'
  })

  <style>
    /* Container styling */
    .splide-container {
      margin: 0 auto;
      max-width: 1200px;
    }

    .splide__slide {
      height: 100%;
      overflow: hidden;
    }


    .splide__list {
      margin: -8px;
    }

    .splide__pagination {
      top: 100% !important;
    }

    .splide__pagination__page.is-active {
      background: #3B82F6 !important;
    }

    .splide__slide>div {
      height: 100%;
      padding: 8px 16px;
    }

    .splide__arrow {
      display: none;
    }
  </style>
</head>

<body class=" flex flex-col max-w-8xl mx-auto font-inter">
  <h1>{{JSON.stringify(settings)||"hello"}}</h1>
  <div class="md:px-20 w-full mx-auto">
    @!component('../components/header',{tag:"Online Shop",
    links:[
    { title: 'Home', href: '/' },
    { title: 'Men', href: '/category/men' },
    { title: 'Women', href: '/category/women' },
    { title: 'Trends', href: '/category/trends' },
    { title: 'Collections', href: '/collections' },
    { title: 'Sale', href: '/sale' },
    { title: 'Blog', href: '/blog' }
    ]
    })
    @!section('content')
  </div>


  @component('../components/myFooter', {
  tag:"Online Shop",
  title:'styllish',
  shopLinks:[{title:'account',link:'/account'},
  {title:'login',link:'/login'},
  {title:'wishlist',link:'/wishlist'},
  {title:'cart',link:'/cart'}
  ],
  infoLinks:[
  {title:'shopping policy',link:'/shopping-policy'},
  {title:'return & refunds',link:'/return-refund'},
  {title:'cookies policy',link:'/cookies-policy'},
  {title:'frequently asked',link:'/asked'},
  ],
  companyLinks:[{title:'about us',link:'/about'},
  {title:'privacy policy',link:'/privacy-policy'},
  {title:'terms & conditions',link:'/terms'},
  {title:'contact us',link:'/contact'}
  ],
  })

  @end

  @component('components/authModal', {
  logoImage:'/public/assetes/images/logo.svg',
  loginParagraph:"Shop smarter. Master your style with our curated collections and discover daily deals.",
  loginHeading:" Shopping easily with our platform.",
  firstWord:"Start"
  })

  @end
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-grid@0.4.1/dist/js/splide-extension-grid.min.js"></script>
  <!-- 
    <script src="/public/app.js" type="text/javascript"></script>
  <script src="/public/alpine/components/accountComponent.js"></script>
  <script src="/public/alpine/components/adressComponent.js"></script>
  <script src="/public/alpine/components/itemComponent.js"></script>
  <script src="/public/alpine/utils/api.js"></script>
  <script src="/public/alpine/utils/services.js"></script>
   -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>

</html>