<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/app.css">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">



  <style>
    /* Container styling */
    .splide-container {
      margin: 0 auto;
      max-width: 1200px;
    }

    .splide__slide {
      height: 100%;
      overflow: hidden;
    }


    .splide__list {
      margin: -8px;
    }

    .splide__slide>div {
      height: 100%;
      padding: 8px 16px;
    }

    .splide__arrow {
      display: none;
    }
  </style>
</head>

<body class="md:px-20">
  @!component('../components/header',{tag:"Online Shop",
  links:[
  { title: 'Home', href: '/home' },
  { title: 'Men', href: '/men' },
  { title: 'Women', href: '/women' },
  { title: 'Trends', href: '/trends' },
  { title: 'Collections', href: '/collections' },
  { title: 'Sale', href: '/sale' },
  { title: 'Blog', href: '/blog' }
  ]
  })
  @!section('content')



  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-grid@0.4.1/dist/js/splide-extension-grid.min.js"></script>
</body>

</html>